@import '@2fauth/styles/src/app.scss';

// body, html {
//   height: 0 !important;
//   min-height: 0 !important;
// }
  
#popup {
  width:350px;
  min-height:350px;
  max-height:550px;
}

a.button.is-main {
  box-shadow: $button-focus-box-shadow-size $button-focus-box-shadow-color;
}

.main-section {
  padding: 1rem 1rem 6rem 1rem;
}

.tfa-list {
  margin: 0 1%;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  width: auto !important;
  border-radius: unset;
}

footer.main {
  padding: 1rem 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 30;
}

.options-tabs {
  margin-top: 50px;
}

@media screen and (max-height: 700px) {
  .modal-with-footer {
    margin-bottom: 0;
    // min-height:350px !important;
    max-height: calc(100vh - 134px) !important;
  }
}

.error-404,
.error-generic,
.too-bad {
  height: 140px;
  background-position: top left 50%;
  background-size: 50%;
}

.modal .field.is-grouped:last-child {
  padding-top: 0;
}

.modal-error {
  min-height: 350px;
}

.error-message {
  overflow-x: clip;
}

.no-scrollbar {
  scrollbar-width: none;
}

.accounts {
  min-height: 300px;
}

.lucide {
  // stroke-width: 1.25;
  width: 1.25rem;
  height: 1.25rem;
}
.lucide-default-size {
  // stroke-width: 1.25;
  width: auto;
  height: auto;
}

.icon-size-1 {
  width: 1rem;
  height: 1rem;
}
.icon-size-3 {
  width: 3rem;
  height: 3rem;
}

.rotated-chevron {
  transform: rotate(135deg);
}

.spinning {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}