@import '@2fauth/styles/src/app.scss';

// body, html {
//   height: 0 !important;
//   min-height: 0 !important;
// }
  
#popup {
  width:350px;
  max-height:590px;
}

.stack-content-wrapper {
  scrollbar-width: none;
}

.ext-full-height {
  height: 590px;
}

a.button.is-main {
  box-shadow: var(--bulma-button-focus-box-shadow-size) var(--bulma-button-focus-box-shadow-color);
}

a.button.is-main:hover {
  color: hsl(var(--bulma-button-h), var(--bulma-button-s), var(--bulma-button-color-l));
}

.tfa-list {
  margin: 0 1%;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  width: auto !important;
  border-radius: unset;
}

footer.main {
  padding: 0 0 1rem 0;
}

.error-404,
.error-generic,
.too-bad {
  height: 140px;
  background-position: top left 50%;
  background-size: 50%;
}

.error-message {
  overflow-x: clip;
}

.no-scrollbar {
  scrollbar-width: none;
}