@import 'bulma/bulma.sass';
@import 'bulma-checkradio/dist/css/bulma-checkradio.min.css';
@import '2fauth.scss';

body, html {
  height: 0 !important;
  min-height: 0 !important;
}
  
body, #popup {
  min-width:350px;
  height :550px;
}

.main-section {
  padding: 1rem 1rem 6rem 1rem;
}

.tfa-list {
  text-align: inherit;
  border-bottom: 1px solid $grey-lighter;
  margin: 0;
  padding: 0 0 0.5rem 0;
  width: auto !important;
  border-radius: unset;
}

footer.main {
  padding: 1rem 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 30;
}

.options-tabs {
  margin-top: 50px;
}

@media screen and (max-height: 700px) {
  .modal-with-footer {
    margin-bottom: 0;
  }
}